When talking about complexity, there are normally three cases:

1. Best case scenario
2. Average case
3. Worst case scenario

In [3]:
arr = [1, 2, 3, 4]  # Example array, replace with your array values

for i in range(len(arr)):
    for j in range(i, len(arr)):
        print(arr[i] + arr[j])

2
3
4
5
4
5
6
6
7
8

In [10]:
(arr[3])

4

F 
n
​
 =F 
n−1
​
 +F 
n−2
​

In [29]:
A="abcdcba" 
B="racecar"
C="abcdcbva" 


def check_if_palindrome(s):
    
    left = 0
    right =len(A)-1
    
    while left < right:
        if s[left]!=s[right]:
            return False
        left += 1
        right -= 1
        
    return True

In [31]:
check_if_palindrome(C)

False

Example 2: Given a sorted array of unique integers and a target integer, return true if there exists a pair of numbers that sum to target, false otherwise. This problem is similar to Two Sum. (In Two Sum, the input is not sorted).

For example, given nums = [1, 2, 4, 6, 8, 9, 14, 15] and target = 13, return true because 4 + 9 = 13.

In [42]:
def ex2(a,b):
    left= 0
    right= len(a)-1
    
    while left < right:
        if a[left]+a[right] == b:
            return True
        elif a[left]+a[right] < b:
            left +=1
        else:
            right -=1
            
    return False

In [44]:
nums = [1, 2, 4, 6, 8, 9, 14, 15]
target = 14
ex2(nums,target)

True

In [45]:
def check_for_target(nums, target):
    left = 0
    right = len(nums) - 1
    while left < right:
        # curr is the current sum
        curr = nums[left] + nums[right]
        if curr == target:
            return True
        if curr > target:
            right -= 1
        else:
            left += 1
    
    return False

In [46]:
check_for_target(nums,target)

True

Example 3: Given two sorted integer arrays arr1 and arr2, return a new array that combines both of them and is also sorted.

In [57]:
def ex3(a,b):
    i = j = 0
    
    new_list = []
    
    while i < len(a) and j<len(b):
        
        if a[i] < b[i]:
            new_list.append(a[i])
            i+=1
        else:
            new_list.append(b[j])
            j+=1
    
    while i < len(a):
        new_list.append(a[i])
        i += 1
    
    while j < len(b):
        new_list.append(b[j])
        j += 1
        
    return new_list

In [58]:
a = [1,4,7,20]
b = [3,5,6]

ex3(a,b)

[1, 4, 3, 5, 6, 7, 20]

In [69]:
for x in range(2,5):
    for n in range(2,x):
        print("done")
    else:
        print("Not done")

Not done
done
Not done
done
done
Not done

In [70]:
def http_error(status):
    match status:
        case 400:
            return "Bad request"
        case 404:
            return "Not found"
        case 418:
            return "I'm a teapot"
        case _:
            return "Something's wrong with the internet"

In [75]:
http_error(419)

"Something's wrong with the internet"

In [74]:
http_error(418)

"I'm a teapot"

0 1 1 2 3 5 8 13 21 34 55 89 144 233 377 610

In [80]:
def feb(n):
    a = 0
    b = 1
    while (a<n):
        print(a,end=' ')
        a,b = b, a+b
    print()

In [87]:
feb(146)

0 1 1 2 3 5 8 13 21 34 55 89 144

Example 1: Given an array of positive integers nums and an integer k, find the length of the longest subarray whose sum is less than or equal to k. This is the problem we have been talking about above. We will now formally solve it.

nums = [3, 1, 2, 7, 4, 2, 1, 1, 5] and k = 8.

In [95]:
    """define l r ans, for loop of right,maint curr, while curr<k-left++, return max(ans,r-l+1) 
    """

def logsubarray(nums,k):
    l = 0
    r = 0
    ans = 0
    
    for r in range(0,len(nums)):
        curr = nums[nums[r]]
        
        while curr > k:
            curr -= nums[l]
            l += 1
            
        ans= max(ans,r-l+1)
        
    return ans

IndentationError: expected an indented block after function definition on line 4 (1428849018.py, line 5)

In [107]:
def logsubarray(nums,k):
    l ,r = 0,0
    ans = 0
    curr = 0
    
    for r in range(len(nums)):
        curr += nums[r]
        
        while curr > k:
            curr -= nums[l]
            l += 1
            
        ans= max(ans,r-l+1)
        
    return ans

In [108]:
nums = [3, 1, 2, 7, 4, 2, 1, 1, 5] 
k = 8.
logsubarray(nums,k)

4

Example 2: You are given a binary string s (a string containing only "0" and "1"). You may choose up to one "0" and flip it to a "1". What is the length of the longest substring achievable that contains only "1"?

For example, given s = "1101100111", the answer is 5. If you perform the flip at index 2, the string becomes 1111100111.

1. l,r,curr,ans
2. for r 
3. curr = count of 0
4. while curr< 2
5. ans = max(ans,r-l+1)
6.

In [132]:
def maxiones(s):
    l,r,curr,ans=0,0,0,0
    
    for r in range(len(s)):
        if s[r]=="0":
            curr += 1
            
        while curr>1:
            if s[l] == "0":
                curr -= 1
            l +=1
             
            
        ans = max(ans,r-l+1)
        
    return ans

In [133]:
s = "1101100111"
maxiones(s)

5

Example 1: Given an integer array nums, an array queries where queries[i] = [x, y] and an integer limit, return a boolean array that represents the answer to each query. A query is true if the sum of the subarray from x to y is less than limit, or false otherwise.

For example, given nums = [1, 6, 3, 2, 7, 2], queries = [[0, 3], [2, 5], [2, 4]], and limit = 13, the answer is [true, false, true]. For each query, the subarray sums are [12, 14, 12].

In [155]:
def ex1(nums,queries,limit):
    
    ans = []
    presum = []
    presum.append(nums[0])
    
    for i in range(1,len(nums)):
        presum.append(nums[i]+presum[len(presum)-1])
        
    print(presum)
    for i in queries:
        if presum[i[1]]-presum[i[0]-1] < limit:
            ans.append(True)
        else:
            ans.append(False)
            
    return ans

In [1]:
nums = [1, 6, 3, 2, 7, 2]
queries = [[0, 3], [2, 5], [2, 4]]
limit = 13
ex1(nums,queries,limit)
#hello

NameError: name 'ex1' is not defined

In [2]:
s = "Let's take LeetCode contest"
s = list(s)
l=0

for r in range(len(s)):
    if s[r]==" " or r ==len(s)-1:
        temp_l, temp_r= l, r-1
        if r == len(s)-1:
            temp_r = r
        while temp_l<temp_r:
            s[temp_l],s[temp_r] = s[temp_r],s[temp_l]
            temp_l += 1
            temp_r -= 1
        l = r + 1

print( "".join(s))

s'teL ekat edoCteeL tsetnoc

In [3]:
s =[0,1,0,3,12]


N = [0]*len(nums)
i = 0
j = 0

for i in range(len(s)):
    if s[i] != 0:
        N[j] = nums[i]
        j+= 1
    

print( N)

[1, 6, 3, 2, 7, 0]

In [1]:
import numpy as np
import pandas as pd

In [8]:
s=pd.Series(np.random.randn(5))

In [10]:
s

0    0.320053
1   -2.132088
2   -0.131835
3   -1.722453
4    0.436266
dtype: float64

In [14]:
np.exp(s)

0    1.377201
1    0.118589
2    0.876485
3    0.178627
4    1.546920
dtype: float64

In [15]:
s.dtype

dtype('float64')

In [19]:
s.get(4,np.nan)

0.43626585297392884

In [23]:
d = {"one": [1.0, 2.0, 3.0, 4.0], "two": [4.0, 3.0, 2.0, 1.0]}
df_d = pd.DataFrame(d)

In [24]:
df_d

   one  two
0  1.0  4.0
1  2.0  3.0
2  3.0  2.0
3  4.0  1.0

In [56]:
df_x = pd.DataFrame([[1,2,3],[4,5,6]],columns=["a","b","c"])

In [57]:
df_x

   a  b  c
0  1  2  3
1  4  5  6

In [58]:
df_x.iloc[1:]

   a  b  c
1  4  5  6

In [62]:
ser3 = pd.Series([2, 4, 6], index=["b", "c", "d"])

In [63]:
ser3

b    2
c    4
d    6
dtype: int64

In [69]:
df_x.loc[b]

NameError: name 'b' is not defined

In [73]:
a = pd.Series([1,2,3])
print(a)

0    1
1    2
2    3
dtype: int64

In [74]:
list_a = list(a)

In [75]:
list_a

[1, 2, 3]

In [76]:
a.tolist()

[1, 2, 3]

In [80]:
b = pd.Series([4,5,6])
a//b

0    0
1    0
2    0
dtype: int64

In [83]:
a = pd.Series([2, 4, 6, 8, 10])
b = pd.Series([1, 3, 5, 7, 10])

In [88]:
a>=b

0    True
1    True
2    True
3    True
4    True
dtype: bool

In [89]:
x = pd.Series({'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': 800})

In [90]:
x

a    100
b    200
c    300
d    400
e    800
dtype: int64

In [91]:
c = [10 20 30 40 50]

SyntaxError: invalid syntax. Perhaps you forgot a comma? (2703878376.py, line 1)

In [92]:
s1 = pd.Series(['100', '200', 'python', '300.12', '400'])
s1

0       100
1       200
2    python
3    300.12
4       400
dtype: object

In [94]:
s2 = pd.to_numeric(s1,errors='coerce')
s2

0    100.00
1    200.00
2       NaN
3    300.12
4    400.00
dtype: float64

In [95]:
s = pd.Series(['100', '200', 'python', '300.12', '400'])

In [96]:
d = s.sort_values()

In [97]:
d

0       100
1       200
3    300.12
4       400
2    python
dtype: object

In [98]:
s = pd.Series([0,1,2,3,4,5,6,7,8,9,10])

In [99]:
d = s[s<5]
d

0    0
1    1
2    2
3    3
4    4
dtype: int64

In [105]:
hw = '%s how are you doing today, the time is %d now' % ('Mohan',11)
hw

'Mohan how are you doing today, the time is 11 now'

In [108]:
print(hw.upper())

MOHAN HOW ARE YOU DOING TODAY, THE TIME IS 11 NOW

In [109]:
animals = ['cat', 'dog', 'monkey']
for idx, animal in enumerate(animals):
    print('#%d: %s' % (idx + 1, animal))

#1: cat
#2: dog
#3: monkey

In [111]:
student_data =[
  [1, 15],
  [2, 11],
  [3, 11],
  [4, 20]
]

In [116]:
for i in student_data:
    print(i[0])

1
2
3
4

In [117]:
ans = list(student_data.shape[0],student_data.shape[1])
ans

AttributeError: 'list' object has no attribute 'shape'